<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>task-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" 
          slot="fixed" edge="true">
    <ion-fab-button size="small" href="/task-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding *ngFor="let task of taskList">
        <ion-item>
            <ion-checkbox [checked]="task.done" slot="start"></ion-checkbox>
            <ion-label>{{ task.taskName }}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          
          <ion-button (click)="editTask(task.id)" size="small">
              <ion-icon name="create" ></ion-icon>
          </ion-button>

          <ion-button size="small" (click)="deleteTask(task.id)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>

        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
